node_module*
z_data-volume*
z_z-ignores*

# laravel
/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
*vendor*
/vendor/**
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode

003_tasks/004_sprint_07-05/003_signups-service/03_sirius-sg
